body {
    text-align: center;
    font-family: Arial;
    background: #111;
    color: white;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 10px;
    justify-content: center;
    margin: 20px;
}

.tile {
    width: 80px;
    height: 80px;
    background: gray;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.tile:hover {
    transform: scale(1.05);
}

.correct {
    background: green !important;
}

.wrong {
    background: red !important;
}
