body {
  font-family: Arial;
  text-align: center;
  background: linear-gradient(#1e1e2f, #2c2c3c);
  color: white;
}

#board {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 10px;
  justify-content: center;
  margin-top: 30px;
}

.cell {
  width: 70px;
  height: 70px;
  background: white;
  color: black;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  user-select: none;
  touch-action: none;
}

.active {
  background: orange;
}

.correct {
  background: #2ecc71;
  color: white;
}

#currentWord {
  margin-top: 20px;
  font-size: 24px;
  min-height: 30px;
}
